<div class="d-flex justify-content-center align-items-center mt-5  container-sm container-md container-lg container-xl  ">
  <div class="card mb-3 "  style="max-width: 640px;" *ngIf="prestamo != null || prestamo != undefined">
      <div class="row g-0">
        <div class=" col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <img src="{{libro.data.portada}}" class="img-fluid rounded-start" >
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
          <div class="card-body">
            <h4 class="card-title">Prestamo realizado a: </h4>
            <p class="card-text">{{socio.data.nombre}}</p>
            <h4 class="card-title">Titulo del libro: </h4>
            <p class="card-text">{{libro.data.titulo}}</p>
            <h4 class="card-title">Fecha del prestamo: </h4>
            <p class="card-text">{{prestamo.data.fechaPrestamo}}</p>
            <h4 class="card-title">Fecha a devolver: </h4>
            <p class="card-text">{{prestamo.data.fechaDevolucion}}</p>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container container-sm container-md container-lg container-xl d-flex justify-content-center align-items-center">
  <input type="submit" class="btn btn-danger col-3  col-sm-3 col-md-3 col-lg-3 col-xl-3" (click)="irAtras()" value="Ir atras "/>

</div>


