<div class="container  container-sm container-md container-lg container-xl">
  <div class=" row" >
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" *ngFor="let socio of socios">
      <div class="card m-1 align-items-center">
        <img src="{{socio.data.foto}}" class="card-img ">
        <div class=" container-sm container-md container-lg container-xl card-body espacio">
          <h5 class="card-title text-uppercase text-center">{{socio.data.nombre}}</h5>
          <input type="submit" class="btn btn-primary mb-1 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  "  routerLink="editarSocio/{{socio.id}}" value="Detalles/Editar"/>
          <input type="submit" class="btn btn-danger col-12" (click)="eliminarSocio(socio.id)" value="Eliminar"/>
        </div>
      </div>
    </div>
  </div>
</div>
