
  <div class="container container-sm container-md container-lg container-xl btn-light bg-light">
    <h1 class="fs-2 text-center text-uppercase ">Bienvenidos a su biblioteca web</h1>

<nav class=" navbar-responsive navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            libros
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/Libro">Ver libros</a></li>
            <li><a class="dropdown-item" routerLink="/Libro/formulario">Nuevo libro</a></li>

          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Socios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
            <li><a class="dropdown-item" routerLink="/Socio">Ver socios</a></li>
            <li><a class="dropdown-item" routerLink="/Socio/socioFormulario">Crear Socio</a></li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Prestamos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <li><a class="dropdown-item" routerLink="/Prestamo">Ver Préstamos</a></li>
            <li><a class="dropdown-item" routerLink="/Prestamo/prestamoFormulario">Crear nuevo prestamo</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
  </div>

