<div class="container container-sm container-md container-lg container-xl">
  <div class=" row" >
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4" *ngFor="let libro of libros">
      <div class="container-img ">
        <img src="{{libro.data.portada}}">
      </div>
        <div class="container-sm container-md container-lg container-xl  espacio">
            <h5 class="card-title text-uppercase text-center">{{libro.data.titulo}}</h5>
            <input type="submit" class="btn btn-primary mb-1 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 "  routerLink="editar/{{libro.id}}" value="Detalles/Editar"/>
            <input type="submit" class="btn btn-danger col-12  col-sm-12 col-md-12 col-lg-12 col-xl-12" (click)="eliminarLibro(libro)" value="Eliminar"/>
        </div>
    </div>
  </div>
</div>

