.espacio {
 margin: 5px;
}

.tamañoTarjeta {

  width: 45%;
  height: 45%

}
.container-img{
  padding: 5%;
  text-align: center;
}
img{
  height: 350px;
  width: 350px;
}

.color {
  background-color: #F7FFFF;
}
