<div class="container position-absolute top-50 start-50 translate-middle align-middle color">
<form class="row justify-content-center g-3" (ngSubmit)="nuevoLibro(nuevoLibroFormulario.value)" [formGroup]="nuevoLibroFormulario">
  <input type="hidden" formControlName="id">
  <div class="col-md-6">
    <label for="titulo" class="form-label ">Titulo</label>
    <input type="tel" class="form-control" formControlName="titulo" placeholder="Titulo">
  </div>
  <div class="col-md-6">
    <label for="autor" class="form-label">Autor</label>
    <input type="text" class="form-control" formControlName="autor" placeholder="Autor">
  </div>
  <div class="col-md-6">
    <label for="editorial" class="form-label">Editorial</label>
    <input type="text" class="form-control" formControlName="editorial" placeholder="Editorial">
  </div>
  <div class="col-md-6">
    <label for="lanzamiento" class="form-label">Año de lanzamiento</label>
    <input type="text" class="form-control" formControlName="lanzamiento" placeholder="Año de lanzamiento">
  </div>
  <div class="col-md-6">
    <label for="edicion" class="form-label">Edicion</label>
    <input type="text" class="form-control" formControlName="edicion" placeholder="Edicion">
  </div>
  <div class="col-md-6">
    <label for="portada" class="form-label">Portada</label>
    <input type="text" class="form-control" formControlName="portada" placeholder="Introduzca url de la portada">
  </div>


  <div class="col-12 d-grid gap-2">
    <input type="submit" class="btn btn-primary" [disabled]="!nuevoLibroFormulario.valid" value="Agregar"/>
  </div>
</form>

</div>
