<div class="container container-sm container-md container-lg container-xl table-responsive mt-2 ">
  <table class="table table-striped table-primary">
    <thead>
      <tr class="text-center">
        <th scope="col">Id prestamo</th>
        <th scope="col">Fecha de Prestamo</th>
        <th scope="col">Fecha de Devolucion</th>
        <th scope="col">Acción<th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prestamo of listaPrestamos">
        <td>{{prestamo.id}}</td>
        <td>{{prestamo.data.fechaPrestamo}}</td>
        <td>{{prestamo.data.fechaDevolucion}}</td>
        <td><input type="submit" class="btn btn-primary mb-1 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  "  routerLink="editarPrestamo/{{prestamo.id}}" value="Detalles"/></td>
        <td><input type="submit" class="btn btn-danger col-12  col-sm-12 col-md-12 col-lg-12 col-xl-12" (click)="eliminarPrestamo(prestamo)" value="Eliminar"/></td>
      </tr>
    </tbody>
  </table>
</div>
